<!--<h1>Postimages#index</h1>-->
<!--<p>Find me in app/views/postimages/index.html.erb</p>-->
<%= render 'list', post_images: @post_images %>
<!--上↑の詳細が下↓-->
<%#= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %>
<!-- 同じフォルダ内だからフォルダ名の記載を省略できる -->